:root {
    --dark: #333;
    --white: #fff;
    --gray: #808080;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.messages {
    display: flex;
    flex-direction: column;
    border: thin solid var(--white);
    max-width: 100vmin;
    padding: 2rem;

    scrollbar-color: var(--gray) var(--white);
    scrollbar-width: thin;
}

.messages > ul {
    list-style-type: square;
    padding: 0 1rem;
    margin: 0;
    height: 40vmin;
    overflow-y: scroll;
}

.messages > ul li + li {
    margin-top: 1rem;
}

.messages p {
    margin: 0;
}

.messages .sender {
    display: grid;
    grid-template-columns: auto 5fr 1fr;
    column-gap: 1rem;
    margin-top: 2rem;
}

#message {
    width: 100%;
}
